# Source distribution: everything needed to run the test suite from it
include CHANGELOG.md .github/workflows/tests.yml .github/workflows/release.yml
graft benchmarks
graft docs
graft examples
graft tests
global-exclude __pycache__ *.py[cod]
